body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    /* border-right: 2px solid white; */
    /* display: flex;
    justify-content: space-between; */


}

nav ul li a:hover {
    color: #ff2d55;
}

.hero {
    background-image: linear-gradient(to bottom right, rgb(255, 58, 58), rgb(255, 0, 225));
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    animation: fadeIn 2s ease-in-out;
    
}
.logo {
height: 8rem;
}


.hero h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

.hero p {
    font-size: 25px;
    margin-bottom: 30px;
}

.tune-in-button {
    background-color: #ff2d55;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 15px;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it behave like a button */
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Optional: Add rounded corners */
}

.tune-in-button:hover {
    background-color: #e0264b;
}

.hero a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #b0b0b0; 
    text-decoration: none; 
    cursor: pointer;  
}

.features {
    padding: 50px 20px;
    text-align: center;
    animation: slideIn 1s ease-in-out;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;    
}

.features ul li {
    font-size: 24px;    
    margin: 10px 0;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width:800px) {
    .logo {
    height: 4rem;
    /* display: none; */
    }
}